/* Common Styles */

body {
    margin: 0px;
    font-family: 'lora', 'sarif', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora, 'sarif';
}

p, small {
    font-family: 'Open sans ', 'sarif', sans-serif;
}